Libs/Tables/database.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- generated sql_database schema-->
  <xs:include schemaLocation="schema0.xsd" />
  <xs:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="schema1.xsd" />

  <!-- schemas for non-sql data -->
  <xs:include schemaLocation="ai/ScriptContext.xsd" />
  <xs:include schemaLocation="ai/ScriptContextPreset.xsd" />
  <xs:include schemaLocation="ai/SchedulerAlias.xsd" />
  <xs:include schemaLocation="ai/DeltaMovementParamsDatabase.xsd" />
  <xs:include schemaLocation="item/Clothing.xsd" />
  <xs:include schemaLocation="item/ClothingFeature.xsd" />
  <xs:include schemaLocation="item/ClothingMaterial.xsd" />
  <xs:include schemaLocation="item/ClothingHidingGroup.xsd" />
  <xs:include schemaLocation="item/ClothingMorph.xsd" />
  <xs:include schemaLocation="ui/cutscene.xsd" />

  <!-- add non-sql data to the database type by extending the sql_database type -->
  <xs:element name="database" nillable="true" type="database" />
  <xs:complexType name="database">
    <xs:complexContent>
      <xs:extension base="sql_database">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Clothings" type="Clothings">
            <xs:unique name="ClothingsPrimaryKey">
              <xs:selector xpath=".//Clothing" />
              <xs:field xpath="@Name" />
            </xs:unique>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ClothingFeatures" type="ClothingFeatures">
            <xs:unique name="ClothingFeaturesPrimaryKey">
              <xs:selector xpath="Feature" />
              <xs:field xpath="@Name" />
            </xs:unique>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ClothingMaterials" type="ClothingMaterials">
            <xs:unique name="ClothingMaterialsPrimaryKey">
              <xs:selector xpath=".//Material" />
              <xs:field xpath="@Name" />
            </xs:unique>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ClothingHidingGroups" type="ClothingHidingGroups">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ClothingMorphs" type="ClothingMorphs">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Cutscenes" type="Cutscenes">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ScriptContexts" type="ScriptContexts">
            <xs:key name="ScriptContextsPrimaryKey">
              <xs:selector xpath="ScriptContextDatabaseNode" />
              <xs:field xpath="@Name" />
            </xs:key>
            <xs:unique name="ScriptContextsSideEffectUnique">
              <xs:selector xpath="ScriptContextDatabaseNode" />
              <xs:field xpath="@SideEffect" />
            </xs:unique>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="DeltaMovementParamsDatabase" type="DeltaMovementParamsDatabase">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ScriptContextPresets" type="ScriptContextPresets">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="0" name="Schedulers" type="SchedulersType" />
          <xs:element minOccurs="0" maxOccurs="1" name="SchedulerAliases" type="SchedulerAliasesType">
            <xs:unique name="SchedulerAliasesPrimaryKey">
              <xs:selector xpath="Alias" />
              <xs:field xpath="@Name" />
            </xs:unique>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
