Libs/Tables/rpg/FactionTree.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="database" type="databaseType"/>
    <xs:complexType name="FactionType" mixed="true">
        <xs:sequence>
            <xs:element type="RelationsType" name="Relations" minOccurs="0"/>
            <xs:element type="ChildrenType" name="Children" minOccurs="0"/>
            <xs:element type="FactionType" name="Faction" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="Name" use="optional"/>
        <xs:attribute type="xs:string" name="Comment" use="optional"/>
        <xs:attribute type="xs:string" name="Labels" use="optional"/>
        <xs:attribute type="xs:string" name="LocationId" use="optional"/>
        <xs:attribute type="xs:int" name="LevelId" use="optional"/>
        <xs:attribute type="xs:string" name="UIName" use="optional"/>
    </xs:complexType>
    <xs:complexType name="RelationType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="target" use="optional"/>
                <xs:attribute type="xs:float" name="reputation" use="optional"/>
                <xs:attribute type="xs:string" name="qualities" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="RelationsType">
        <xs:sequence>
            <xs:element type="RelationType" name="Relation" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChildrenType">
        <xs:sequence>
            <xs:element type="FactionType" name="Faction" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FactionTreeType">
        <xs:sequence>
            <xs:element type="FactionType" name="Faction" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
    <xs:complexType name="databaseType">
        <xs:sequence>
            <xs:element type="FactionTreeType" name="FactionTree"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
</xs:schema>