Libs/Tables/item/InventoryPreset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="_ItemName.xsd"/>
    <!--do not put any element before includes-->
    <xs:element name="database" type="databaseType"/>
    <xs:complexType name="PresetItemType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="ItemName" name="Name" use="optional"/>
                <xs:attribute type="xs:string" name="ItemClassId" use="optional"/>
                <xs:attribute type="xs:int" name="Amount" use="optional"/>
                <xs:attribute type="xs:float" name="Weight" use="optional"/>
                <xs:attribute type="xs:float" name="Health" use="optional"/>
                <xs:attribute type="xs:float" name="HealthVariation" use="optional"/>
                <xs:attribute type="xs:float" name="Quality" use="optional"/>
                <xs:attribute type="xs:float" name="Condition" use="optional"/>
                <xs:attribute type="xs:float" name="ConditionVariation" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="InventoryPresetType" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="PresetItemType" name="PresetItem">
                <xs:annotation>
                </xs:annotation>
            </xs:element>
            <xs:element type="InventoryPresetRefType" name="InventoryPresetRef">
                <xs:annotation>
                </xs:annotation>
            </xs:element>
            <xs:element type="ClothingPresetRefType" name="ClothingPresetRef">
            </xs:element>
            <xs:element type="WeaponPresetRefType" name="WeaponPresetRef">
            </xs:element>
        </xs:choice>
        <xs:attribute type="xs:string" name="Name" use="optional"/>
        <xs:attribute type="xs:string" name="Mode" use="optional"/>
        <xs:attribute type="xs:string" name="ModeValue" use="optional"/>
        <xs:attribute type="xs:string" name="ModeValueVariation" use="optional"/>
        <xs:attribute type="xs:float" name="Health" use="optional"/>
        <xs:attribute type="xs:float" name="HealthVariation" use="optional"/>
        <xs:attribute type="xs:int" name="Amount" use="optional"/>
        <xs:attribute type="xs:int" name="AmountCount" use="optional"/>
        <xs:attribute type="xs:int" name="AmountVariation" use="optional"/>
    </xs:complexType>
    <xs:complexType name="InventoryPresetRefType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:float" name="CombatLevel" use="optional"/>
                <xs:attribute type="xs:float" name="Weight" use="optional"/>
                <xs:attribute type="xs:int" name="Amount" use="optional"/>
                <xs:attribute type="xs:string" name="ItemClassId" use="optional"/>
                <xs:attribute type="xs:float" name="Health" use="optional"/>
                <xs:attribute type="xs:float" name="HealthVariation" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="ClothingPresetRefType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:float" name="Weight" use="optional"/>
                <xs:attribute type="xs:float" name="CombatLevel" use="optional"/>
                <xs:attribute type="xs:int" name="Amount" use="optional"/>
                <xs:attribute type="xs:float" name="Health" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="WeaponPresetRefType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:float" name="Weight" use="optional"/>
                <xs:attribute type="xs:float" name="CombatLevel" use="optional"/>
                <xs:attribute type="xs:int" name="Amount" use="optional"/>
                <xs:attribute type="xs:string" name="ItemClassId" use="optional"/>
                <xs:attribute type="xs:float" name="Health" use="optional"/>
                <xs:attribute type="xs:float" name="HealthVariation" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="InventoryPresetsType">
        <xs:sequence>
            <xs:element type="InventoryPresetType" name="InventoryPreset" maxOccurs="unbounded" minOccurs="0">
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
    <xs:complexType name="databaseType">
        <xs:sequence>
            <xs:element type="InventoryPresetsType" name="InventoryPresets"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
</xs:schema>