Libs/Tables/item/item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:element name="database">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ItemClasses"/>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="xs:NCName"/>
            <xs:attribute ref="xsi:noNamespaceSchemaLocation" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ItemClasses">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="AlchemyBase"/>
                <xs:element ref="Ammo"/>
                <xs:element ref="Armor"/>
                <xs:element ref="CraftingMaterial"/>
                <xs:element ref="DiceBadge"/>
                <xs:element ref="Die"/>
                <xs:element ref="Document"/>
                <xs:element ref="Food"/>
                <xs:element ref="Helmet"/>
                <xs:element ref="Herb"/>
                <xs:element ref="Hood"/>
                <xs:element ref="ItemAlias"/>
                <xs:element ref="Key"/>
                <xs:element ref="KeyRing"/>
                <xs:element ref="MeleeWeapon"/>
                <xs:element ref="MiscItem"/>
                <xs:element ref="MissileWeapon"/>
                <xs:element ref="Money"/>
                <xs:element ref="NPCTool"/>
                <xs:element ref="Ointment"/>
                <xs:element ref="PickableItem"/>
                <xs:element ref="Poison"/>
                <xs:element ref="QuickSlotContainer"/>
            </xs:choice>
            <xs:attribute name="version"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AlchemyBase">
        <xs:complexType>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ammo">
        <xs:complexType>
            <xs:attribute name="AttackSlash" use="required" type="xs:decimal"/>
            <xs:attribute name="AttackSmash" use="required" type="xs:integer"/>
            <xs:attribute name="AttackStab" use="required" type="xs:decimal"/>
            <xs:attribute name="BrokenItemClassId"/>
            <xs:attribute name="Charisma" use="required" type="xs:integer"/>
            <xs:attribute name="Conspicuousness" use="required" type="xs:integer"/>
            <xs:attribute name="DisplayInShop" use="required" type="xs:boolean"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="InquiverMaterial" use="required"/>
            <xs:attribute name="InquiverModel"/>
            <xs:attribute name="LongModel"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="MaxQuality" use="required" type="xs:integer"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PowerMod" use="required" type="xs:decimal"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="RpgWeight" use="required" type="xs:integer"/>
            <xs:attribute name="ShortModel"/>
            <xs:attribute name="SocialClassId" use="required" type="xs:integer"/>
            <xs:attribute name="Type" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="Visibility" use="required" type="xs:integer"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="WealthLevel" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Armor">
        <xs:complexType>
            <xs:attribute name="Charisma" use="required" type="xs:integer"/>
            <xs:attribute name="Clothing" type="xs:NCName"/>
            <xs:attribute name="Conspicuousness" use="required" type="xs:decimal"/>
            <xs:attribute name="DefenseSlash" use="required" type="xs:decimal"/>
            <xs:attribute name="DefenseSmash" use="required" type="xs:integer"/>
            <xs:attribute name="DefenseStab" use="required" type="xs:integer"/>
            <xs:attribute name="DisplayInShop" type="xs:boolean"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsQuestItem" type="xs:boolean"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="MaxQuality" type="xs:integer"/>
            <xs:attribute name="MaxStatus" use="required" type="xs:integer"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required"/>
            <xs:attribute name="Noise" use="required" type="xs:decimal"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="RPGBuffWeight" type="xs:integer"/>
            <xs:attribute name="SocialClassId" use="required" type="xs:integer"/>
            <xs:attribute name="StrReq" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" type="xs:NCName"/>
            <xs:attribute name="UIName" type="xs:NCName"/>
            <xs:attribute name="Visibility" use="required" type="xs:decimal"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="WealthLevel" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="CraftingMaterial">
        <xs:complexType>
            <xs:attribute name="ContainerModel"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsDivisible" type="xs:boolean"/>
            <xs:attribute name="IsQuestItem" type="xs:boolean"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SubType" type="xs:integer"/>
            <xs:attribute name="Tags"/>
            <xs:attribute name="Type" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DiceBadge">
        <xs:complexType>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" use="required" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SubType" use="required" type="xs:integer"/>
            <xs:attribute name="Type" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Die">
        <xs:complexType>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" use="required" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SideValues" use="required"/>
            <xs:attribute name="SideWeights" use="required"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="DocumentContent"/>
            </xs:sequence>
            <xs:attribute name="BlacksmithRecipeId" type="xs:NCName"/>
            <xs:attribute name="EntityScript" use="required" type="xs:NCName"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsQuestItem" type="xs:boolean"/>
            <xs:attribute name="LengthInGameHours" type="xs:integer"/>
            <xs:attribute name="LightSourcePriority" type="xs:integer"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="Rarity" type="xs:NCName"/>
            <xs:attribute name="RecipeId" type="xs:integer"/>
            <xs:attribute name="Type" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="VisualCategory" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DocumentContent">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Image"/>
            </xs:sequence>
            <xs:attribute name="Parts"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Image">
        <xs:complexType>
            <xs:attribute name="Image" use="required" type="xs:NCName"/>
            <xs:attribute name="Page" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Food">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Phase"/>
            </xs:sequence>
            <xs:attribute name="AlcoholContent" use="required" type="xs:integer"/>
            <xs:attribute name="BuffDefinitionId"/>
            <xs:attribute name="ContainerModel"/>
            <xs:attribute name="CookedItemId"/>
            <xs:attribute name="DecayTime" use="required" type="xs:integer"/>
            <xs:attribute name="DriedItemId"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="HealthBenefit" use="required" type="xs:integer"/>
            <xs:attribute name="IconId" use="required" type="xs:NMTOKEN"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsDivisible" type="xs:boolean"/>
            <xs:attribute name="IsQuestItem" type="xs:boolean"/>
            <xs:attribute name="LightSourcePriority" type="xs:integer"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required"/>
            <xs:attribute name="NutritionBenefit" use="required" type="xs:decimal"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="RefreshBenefit" use="required" type="xs:decimal"/>
            <xs:attribute name="ShortTermNutritionBenefitRatio" type="xs:decimal"/>
            <xs:attribute name="SmokedItemId"/>
            <xs:attribute name="SubType" type="xs:integer"/>
            <xs:attribute name="Tags"/>
            <xs:attribute name="Type" type="xs:integer"/>
            <xs:attribute name="UIInfo" type="xs:NCName"/>
            <xs:attribute name="UIName" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Helmet">
        <xs:complexType>
            <xs:attribute name="Charisma" use="required" type="xs:integer"/>
            <xs:attribute name="Clothing" type="xs:NCName"/>
            <xs:attribute name="Conspicuousness" use="required" type="xs:decimal"/>
            <xs:attribute name="DefenseSlash" use="required" type="xs:integer"/>
            <xs:attribute name="DefenseSmash" use="required" type="xs:integer"/>
            <xs:attribute name="DefenseStab" use="required" type="xs:integer"/>
            <xs:attribute name="EntityScript"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="MaxQuality" type="xs:integer"/>
            <xs:attribute name="MaxStatus" use="required" type="xs:integer"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Noise" use="required" type="xs:decimal"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SocialClassId" use="required" type="xs:integer"/>
            <xs:attribute name="StrReq" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="Visibility" use="required" type="xs:decimal"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="VisorTypeId" use="required" type="xs:integer"/>
            <xs:attribute name="WealthLevel" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Herb">
        <xs:complexType>
            <xs:attribute name="ContainerModel" use="required"/>
            <xs:attribute name="DecayTime" use="required" type="xs:integer"/>
            <xs:attribute name="Desc" use="required" type="xs:NCName"/>
            <xs:attribute name="DriedItemId"/>
            <xs:attribute name="Effect" use="required" type="xs:NCName"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="InHerbarium" use="required" type="xs:boolean"/>
            <xs:attribute name="IsDivisible" use="required" type="xs:boolean"/>
            <xs:attribute name="LatinName" use="required" type="xs:NCName"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Occur" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Poisonous" use="required" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SubType" type="xs:integer"/>
            <xs:attribute name="Type" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Hood">
        <xs:complexType>
            <xs:attribute name="Charisma" use="required" type="xs:integer"/>
            <xs:attribute name="Clothing" use="required" type="xs:NCName"/>
            <xs:attribute name="Conspicuousness" use="required" type="xs:decimal"/>
            <xs:attribute name="DefenseSlash" use="required" type="xs:integer"/>
            <xs:attribute name="DefenseSmash" use="required" type="xs:integer"/>
            <xs:attribute name="DefenseStab" use="required" type="xs:integer"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="MaxQuality" use="required" type="xs:integer"/>
            <xs:attribute name="MaxStatus" use="required" type="xs:integer"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Noise" use="required" type="xs:decimal"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SocialClassId" use="required" type="xs:integer"/>
            <xs:attribute name="StrReq" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" type="xs:NCName"/>
            <xs:attribute name="Visibility" use="required" type="xs:decimal"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="WealthLevel" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="ItemAlias">
        <xs:complexType>
            <xs:attribute name="IconId" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsQuestItem" use="required" type="xs:boolean"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="SourceItemId" use="required"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Key">
        <xs:complexType>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsQuestItem" type="xs:boolean"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SubType" use="required" type="xs:integer"/>
            <xs:attribute name="Type" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="KeyRing">
        <xs:complexType>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsDivisible" use="required" type="xs:boolean"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" use="required" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="Type" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MeleeWeapon">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" ref="Phase"/>
            </xs:sequence>
            <xs:attribute name="AgiReq" use="required" type="xs:integer"/>
            <xs:attribute name="Attack" use="required" type="xs:decimal"/>
            <xs:attribute name="AttackModSlash" use="required" type="xs:decimal"/>
            <xs:attribute name="AttackModSmash" use="required" type="xs:decimal"/>
            <xs:attribute name="AttackModStab" use="required" type="xs:decimal"/>
            <xs:attribute name="BrokenItemClassId"/>
            <xs:attribute name="Charisma" use="required" type="xs:integer"/>
            <xs:attribute name="Class" use="required" type="xs:integer"/>
            <xs:attribute name="Clothing" type="xs:NCName"/>
            <xs:attribute name="Conspicuousness" use="required" type="xs:integer"/>
            <xs:attribute name="Defense" use="required" type="xs:integer"/>
            <xs:attribute name="DisplayInShop" type="xs:boolean"/>
            <xs:attribute name="EntityScript" type="xs:NCName"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsBreakable" use="required" type="xs:boolean"/>
            <xs:attribute name="IsQuestItem" type="xs:boolean"/>
            <xs:attribute name="LightSourcePriority" type="xs:integer"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="MaxQuality" use="required" type="xs:integer"/>
            <xs:attribute name="MaxStatus" use="required" type="xs:integer"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="Scabbard" type="xs:NCName"/>
            <xs:attribute name="SharpeningAnimSuffix" type="xs:NCName"/>
            <xs:attribute name="SocialClassId" use="required" type="xs:integer"/>
            <xs:attribute name="StrReq" use="required" type="xs:integer"/>
            <xs:attribute name="SubClass" type="xs:integer"/>
            <xs:attribute name="UIInfo" type="xs:NCName"/>
            <xs:attribute name="UIName" type="xs:NCName"/>
            <xs:attribute name="Visibility" use="required" type="xs:integer"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="WealthLevel" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MiscItem">
        <xs:complexType>
            <xs:attribute name="DisplayInShop" type="xs:boolean"/>
            <xs:attribute name="EntityScript" type="xs:NCName"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsDivisible" type="xs:boolean"/>
            <xs:attribute name="IsQuestItem" type="xs:boolean"/>
            <xs:attribute name="LightSourcePriority" type="xs:integer"/>
            <xs:attribute name="ManipulationType" type="xs:integer"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SubType" type="xs:integer"/>
            <xs:attribute name="Tags"/>
            <xs:attribute name="Type" type="xs:integer"/>
            <xs:attribute name="UIInfo" type="xs:NCName"/>
            <xs:attribute name="UIName" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="MissileWeapon">
        <xs:complexType>
            <xs:attribute name="AgiReq" use="required" type="xs:integer"/>
            <xs:attribute name="Charisma" use="required" type="xs:integer"/>
            <xs:attribute name="Class" use="required" type="xs:integer"/>
            <xs:attribute name="Conspicuousness" use="required" type="xs:decimal"/>
            <xs:attribute name="Defense" use="required" type="xs:integer"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="FireSoundMultiplicator" use="required" type="xs:integer"/>
            <xs:attribute name="HolsterModel" use="required"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsBreakable" use="required" type="xs:boolean"/>
            <xs:attribute name="LightSourcePriority" type="xs:integer"/>
            <xs:attribute name="LimbResistance" use="required" type="xs:integer"/>
            <xs:attribute name="MaxQuality" use="required" type="xs:integer"/>
            <xs:attribute name="MaxStatus" use="required" type="xs:integer"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="OldFormula" use="required" type="xs:boolean"/>
            <xs:attribute name="Power" use="required" type="xs:integer"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SocialClassId" use="required" type="xs:integer"/>
            <xs:attribute name="SoundSwitch" use="required" type="xs:NCName"/>
            <xs:attribute name="StrReq" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="Visibility" use="required" type="xs:integer"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="WealthLevel" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Money">
        <xs:complexType>
            <xs:attribute name="ContainerModel" use="required"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsDivisible" use="required" type="xs:boolean"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" use="required" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="NPCTool">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Phase"/>
            </xs:sequence>
            <xs:attribute name="AllowUnstream" type="xs:boolean"/>
            <xs:attribute name="AttachmentName" type="xs:NCName"/>
            <xs:attribute name="EntityScript" type="xs:NCName"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:integer"/>
            <xs:attribute name="HomeSlotAutoReturn" type="xs:boolean"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="LightSourcePriority" type="xs:integer"/>
            <xs:attribute name="ManipulationType" use="required" type="xs:integer"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PhaseResetOnSlotReturn" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="ProjectileCollisionWhenCarried" type="xs:boolean"/>
            <xs:attribute name="SubType" type="xs:integer"/>
            <xs:attribute name="Type" type="xs:integer"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ointment">
        <xs:complexType>
            <xs:attribute name="BuffDefinitionId"/>
            <xs:attribute name="Efficiency" use="required" type="xs:decimal"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsDivisible" type="xs:boolean"/>
            <xs:attribute name="IsQuestItem" type="xs:boolean"/>
            <xs:attribute name="Model"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SubType" type="xs:integer"/>
            <xs:attribute name="Type" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="PickableItem">
        <xs:complexType>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Poison">
        <xs:complexType>
            <xs:attribute name="AmmoApplyCount" use="required" type="xs:integer"/>
            <xs:attribute name="BuffDefinitionId"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NMTOKEN"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="IsDivisible" use="required" type="xs:boolean"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required" type="xs:NCName"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="WeaponBuffDefinitionId"/>
            <xs:attribute name="WeaponChargeCount" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:decimal"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="QuickSlotContainer">
        <xs:complexType>
            <xs:attribute name="Charisma" use="required" type="xs:integer"/>
            <xs:attribute name="Clothing" use="required" type="xs:NCName"/>
            <xs:attribute name="Conspicuousness" use="required" type="xs:integer"/>
            <xs:attribute name="DefenseSlash" use="required" type="xs:integer"/>
            <xs:attribute name="DefenseSmash" use="required" type="xs:integer"/>
            <xs:attribute name="DefenseStab" use="required" type="xs:integer"/>
            <xs:attribute name="FadeCoef" use="required" type="xs:decimal"/>
            <xs:attribute name="IconId" use="required" type="xs:NCName"/>
            <xs:attribute name="Id" use="required"/>
            <xs:attribute name="MaxQuality" use="required" type="xs:integer"/>
            <xs:attribute name="MaxStatus" use="required" type="xs:integer"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Name" use="required" type="xs:NCName"/>
            <xs:attribute name="Noise" use="required" type="xs:decimal"/>
            <xs:attribute name="NumberOfQuickSlots" use="required" type="xs:integer"/>
            <xs:attribute name="PickpocketInPouch" type="xs:boolean"/>
            <xs:attribute name="Price" use="required" type="xs:integer"/>
            <xs:attribute name="SocialClassId" use="required" type="xs:integer"/>
            <xs:attribute name="StrReq" use="required" type="xs:integer"/>
            <xs:attribute name="UIInfo" use="required"/>
            <xs:attribute name="UIName" use="required" type="xs:NCName"/>
            <xs:attribute name="Visibility" use="required" type="xs:integer"/>
            <xs:attribute name="VisibilityCoef" use="required" type="xs:integer"/>
            <xs:attribute name="WealthLevel" use="required" type="xs:integer"/>
            <xs:attribute name="Weight" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Phase">
        <xs:complexType>
            <xs:attribute name="AttachmentName" type="xs:NCName"/>
            <xs:attribute name="Material"/>
            <xs:attribute name="Model" use="required"/>
            <xs:attribute name="Order" use="required" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
