Libs/Tables/ui/cutscene.xsd

<?xml version="1.0" encoding="us-ascii"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">  
  <xs:complexType name="Cutscenes">
    <xs:sequence maxOccurs="unbounded">
      <xs:element name="RenderedCutscene">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Profiles" minOccurs="1">
              <xs:complexType>
                <xs:sequence minOccurs="1" maxOccurs="unbounded">
                  <xs:element name="Profile">
                    <xs:complexType>
                      <xs:attribute name="Type" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:pattern value="[Default|Console|XBOX|PS4]+"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="FileName" type="xs:string" use="optional"></xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Events" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Event">
                    <xs:complexType>
                      <xs:attribute name="StartFrame" type="xs:int" use="required"></xs:attribute>
                      <xs:attribute name="EndFrame" type="xs:int" use="optional"></xs:attribute>
                      <xs:attribute name="Type" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="SkipPoint"/>
                            <xs:enumeration value="CustomText"/>                                    
                            <xs:enumeration value="Subtitle"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="StringData" type="xs:string" use="optional"></xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>                  
          <xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
          <xs:attribute name="Root" type="xs:string" use="required"></xs:attribute>
          <xs:attribute name="Subtitles" type="xs:string" use="optional"></xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="IngameCutscene">
        <xs:complexType>              
          <xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
          <xs:attribute name="Checkpoints" type="xs:string" use="optional"></xs:attribute>
          <xs:attribute name="Time" type="xs:string" use="optional"></xs:attribute>
          <xs:attribute name="StartWeather" type="xs:string" use="optional"></xs:attribute>
          <xs:attribute name="StartBlendDuration" type="xs:string" use="optional"></xs:attribute>
          <xs:attribute name="EndWeather" type="xs:string" use="optional"></xs:attribute>
          <xs:attribute name="EndBlendDuration" type="xs:string" use="optional"></xs:attribute>
          <xs:attribute name="CopySoulVisual" type="xs:boolean" use="optional"></xs:attribute>
        </xs:complexType>
      </xs:element>
			<xs:element name="TrackViewCutscene">
        <xs:complexType>              
          <xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
          <xs:attribute name="Checkpoints" type="xs:string" use="optional"></xs:attribute>
          <xs:attribute name="CopySoulVisual" type="xs:boolean" use="optional"></xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="FaderCutscene">
        <xs:complexType>              
          <xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="FastTravelCutscene">
        <xs:complexType>              
          <xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="SkipTimeCutscene">
        <xs:complexType>              
          <xs:attribute name="Name" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"></xs:attribute>
  </xs:complexType>
</xs:schema>