Libs/Tables/ai/DeltaMovementParamsDatabase.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeltaMovementParamsDatabase">
    <xs:sequence>
      <xs:element name="DeltaMovementParamsEntityClassNode">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DeltaMovementParams">
              <xs:complexType>
                <xs:attribute type="xs:float" name="DeltaMovementDirectionThreshold" use="required"/>
                <xs:attribute type="xs:float" name="MoveTargetSmoothingThreshold" use="required"/>
                <xs:attribute type="xs:float" name="StartMoveTargetSmoothingThreshold2D" use="required"/>
                <xs:attribute type="xs:float" name="MinDistanceToPathEnd" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="LogicalSpeedParams">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DeltaMovementParamsNode" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="RotationParams">
                          <xs:complexType>
                            <xs:attribute type="xs:float" name="MinAngularDiff" use="required"/>
                            <xs:attribute type="xs:float" name="MaxAngularDiff" use="required"/>
                            <xs:attribute type="xs:float" name="MinAngularSpeed" use="required"/>
                            <xs:attribute type="xs:float" name="MaxAngularSpeed" use="required"/>
                            <xs:attribute type="xs:float" name="AngularSpeedSmothingTime" use="required"/>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="SpeedParams" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="SubRanges">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="DeltaMovementSpeedParamsSubRange" maxOccurs="unbounded" minOccurs="0">
                                      <xs:complexType>
                                        <xs:attribute type="xs:float" name="InputMin" use="required"/>
                                        <xs:attribute type="xs:float" name="InputMax" use="required"/>
                                        <xs:attribute type="xs:byte" name="PseudoSpeedSlowDown" use="required"/>
                                        <xs:attribute type="xs:byte" name="TargetThrottleMin" use="required"/>
                                        <xs:attribute type="xs:byte" name="TargetThrottleMax" use="required"/>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:byte" name="LogicalSpeedId" use="required"/>
                      <xs:attribute type="xs:float" name="MoveTargetSmoothingAngularSpeed" use="required"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="SurroundingDef">
              <xs:complexType>
                <xs:attribute type="xs:byte" name="Distance"/>
                <xs:attribute name="SectorEndAnglesDeg">
                  <xs:simpleType>
                    <xs:list itemType='xs:float'/>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="SurroundingRequirements">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DeltaMovementPartialSurroundingRequirements" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="SpeedRequirements">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="DeltaMovementSurroundingRequirements" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                  <xs:attribute type="xs:byte" name="LogicalSpeedId" use="required"/>
                                  <xs:attribute name="RequiredDistancesSQ" use="required">
                                    <xs:simpleType>
                                      <xs:list itemType='xs:float'/>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute type="xs:byte" name="CoveredSectorCount" use="required"/>
                      <xs:attribute type="xs:byte" name="SlowDownThresholdLogicalSpeedId" use="required"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" name="EntityClassName"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

