Libs/Tables/ai/ScriptContext.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ScriptContexts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScriptContextDatabaseNode" type="ScriptContextDatabaseNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScriptContextDatabaseNode">
    <xs:attribute type="xs:string" name="Name" use="required"/>
    <xs:attribute type="xs:string" name="Class" use="required"/>
    <xs:attribute type="xs:string" name="SideEffect"/>
  </xs:complexType>
</xs:schema>