Libs/Tables/ai/ScriptContextPreset.xsd

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ScriptContextPresets">
    <xs:sequence>
      <xs:element name="ScriptContextPresetDatabaseNode" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Contexts">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ScriptContextDatabaseNode" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute type="xs:string" name="Name" use="required"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" name="Name" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

